<section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8 bg-red     -100">

    <div class="text-center mt-10 mx-96 ">
        <div class="dropdown">
            <button
                class="btn btn-secondary bg-indigo-900 rounded-3xl px-5 text-left dropdown-toggle relative  text-2xl text-yellow-500 uppercase"
                type="button" id="dropdownMenuButton1" style="width: 500px;" data-bs-toggle="dropdown"
                aria-expanded="false">

                cảm nghĩ học viên
                <div class="absolute h-full bg-yellow-500 top-0 " style="width: 2px; right: 55px;"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                <li><a class="dropdown-item" routerLink="/goc-hoc-vien/hoat-dong">Hoạt Động</a></li>
                <li><a class="dropdown-item" routerLink="/goc-hoc-vien/giai-dap">Giải Đáp</a></li>
            </ul>
        </div>

    </div>

    <div class="lg:pt-10 w-full h-1/2 flex flex-col  hidden lg:block">
        <div class="pb-5">
            <div class="text-base text-indigo-900">Home >> Góc Học Viên >> Hoạt Động</div>
        </div>
    </div>

    <div class="">
        <div class="w-full bg-red-100 relative" style="height: 300px;">
            <div
                class="absolute text-indigo-900 font-black text-5xl uppercase left-1/2 z-10 top-1/2 contact-center hidden lg:block center-img">
                <p class="text-5xl">cảm nghĩ <br> học viên</p>
                
            </div>
            <div class="absolute  bg-gray-100 right-0 w-1/4 right-0 h-full contact-center z-2 hidden lg:block img">
            </div>
        </div>
        
    </div>
    
    <div class="flex items-center justify-center px-32 pt-10">
        <div class="bg-gray-100 relative w-1/2 mr-10" style="width: 350px; height: 200px;">
            <div class="absolute trapezoid"></div>
            <div class="absolute text-yellow-500 uppercase text-2xl font-black top-1/2 z-10 right-2 center-img">
                cảm nghĩ <br> học viên
            </div>
            <div class="absolute left-1/2 top-1/2 bg-gray-100 play-icon">
                <i>icon</i>
            </div>
        </div>
        <div class="w-1/2 ml-10 ">
            <p class="text-2xl text-indigo-900 font-black">Bạn Thịnh -K54</p>
            <p class="text-indigo-900 ">&quot;Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fugit sapiente fuga, molestias aut ex harum error temporibus, rem nostrum sequi culpa, illo autem hic blanditiis atque? Asperiores, hic quibusdam?&quot;</p>
        </div>
    </div>

    
    



</section>