<section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8">

    <div class="lg:pt-10 w-full h-1/2 flex flex-col  hidden lg:block">
        <div class="pb-5">
            <div class="text-base text-indigo-900">Home >> Góc Học Viên</div>
        </div>
    </div>

    <div class="">
        <div class="w-full bg-red-100 relative" style="height: 300px;">
            <div
                class="absolute text-indigo-900 font-black text-5xl uppercase left-1/2 z-10 top-1/2 contact-center hidden lg:block">
                Góc học viên
            </div>
            <div class="absolute  bg-gray-100 right-0 w-1/2 h-full contact-center z-2 hidden lg:block img"></div>
        </div>
    </div>

    <div>
        <div class="pt-10 flex justify-between">
            <a routerLink="/goc-hoc-vien/giai-dap" style="width: 30%;" class="text-center">

                <div class="bg-gray-100 cursor-pointer" style=" height: 150px;">

                </div>
                <h2 class="text-2xl uppercase text-indigo-900 pt-3 mb-0">giải đáp</h2>
                <span class="text-sm text-indigo-900 font-black ">Phản hồi tất cả các thắc mắc <br>z-10 của học viên</span>

            </a>

            <a routerLink="/goc-hoc-vien/hoat-dong" style="width: 30%;" class="text-center">

                <div class="bg-gray-100 cursor-pointer" style=" height: 150px;">

                </div>
                <h2 class="text-2xl uppercase text-indigo-900 pt-3 mb-0">hoạt động ngoại khóa</h2>
                <span class="text-sm text-indigo-900 font-black ">Truyền nghề spa <br> Truyền mọi tinh hoa trong ngành làm đẹp</span>

            </a>

            <a href="#" style="width: 30%;" class="text-center">

                <div class="bg-gray-100 cursor-pointer" style=" height: 150px;">

                </div>
                <h2 class="text-2xl uppercase text-indigo-900 pt-3 mb-0">Cảm nghĩ học viên</h2>
                <span class="text-sm text-indigo-900 font-black ">Cảm nghĩ và tâm tư của học viên <br> say khóa học tại Timona Academy </span>

            </a>


        </div>
    </div>


</section>