<header >
    <nav class="bg-indigo-900 h-auto ">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-auto">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <button type="button"
              class="inline-flex items-center justify-center  p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!--
                Icon when menu is closed.
    
                Heroicon name: outline/menu
    
                Menu open: "hidden", Menu closed: "block"
              -->
              <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <!--
                Icon when menu is open.
    
                Heroicon name: outline/x
    
                Menu open: "block", Menu closed: "hidden"
              -->
              <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
  
          </div>
          <div class="logo w-full h-20  relative sm:hidden">
            <div class="logo w-20 h-10 bg-gray-200 absolute top-1/4" style="left: 42%"></div>
          </div>
          <div class="flex-1 flex items-center justify-start sm:items-stretch sm:justify-between lg:px-5">
            <div class="flex-shrink-0 flex items-center "  >
                <a routerLink="/" alt="" class="">
                    <img class="hidden lg:block !h-12 !w-25 bg-gray-700" src="" alt="TIMONA ACADEMY">
                </a>
              <!-- <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow"> -->
              
            </div>
            <div class="hidden sm:block sm:ml-6 pt-6">
              <div class="flex items-center justify-end">
                <div class="flex border-2 rounded">
                  <input type="text" class="px-4 py-1 w-80 h-6 rounded-lg relative">
                  <button class="flex items-center justify-center px-4 border-none absolute right-0 ">
                    <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24">
                      <path
                        d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="flex space-x-4 pl-3 pt-3 pb-3   ">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a routerLink="/gioi-thieu-hoc-vien"
                  class="text-lg uppercase hover:bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium">Giới
                  thiệu</a>
  
                <a routerLink="/chuyen-nganh"
                  class="text-lg uppercase text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Chuyên
                  ngành</a>
  
                <a routerLink="/goc-hoc-vien"
                  class=" text-lg uppercase text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Góc
                  Học viên</a>
  
                <a routerLink="/tin-tuc"
                  class="text-lg uppercase text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Tin
                  tức & sự kiện</a>
                <a routerLink="/lien-he"
                  class="text-lg uppercase text-white hover:bg-gray-700 hover:text-white pl-3 py-2 rounded-md text-sm font-medium">Liên
                  hệ</a>
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
      <!-- Mobile menu, show/hide based on menu state. -->
      <!-- <div class="sm:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">
        
          <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Giới thiệu</a>
    
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Chuyên ngành</a>
    
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Gói Học viên</a>
    
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Tin tức & sự kiện</a>
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Liên hệ</a>
  
        </div>
      </div> -->
    </nav>
  
  </header>

<router-outlet></router-outlet>
  
<footer class="footer">
    <div class="footer-mobile mx-5 pb-10 pt-10 lg:hidden">
      <div class="footer-top">
        <p class="text-yellow-500 text-center text-base">HỆ THỐNG HỌC VIÊN ĐÀO TẠO THẨM MỸ QUỐC TẾ TIMONA ACADEMY</p>
        <div class="bg-gray-100 w-100" style="height: 100px;">img</div>
        <div class="flex justify-between items-center pt-5">
          <p class="text-white">THEO DÕI TIMNA ACADEMY</p>
          <ul class="flex">
            <li class="icon-item mr-3 rounded-lg">icon</li>
            <li class="icon-item mr-3 rounded-lg">icon</li>
            <li class="icon-item mr-3 rounded-lg">icon</li>
            <li class="icon-item  rounded-lg">icon</li>
  
          </ul>
        </div>
        <ul class="footer-right-address">
          <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ Chí Minh</li>
          <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
          <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
          <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
          <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
        </ul>
        <div class="flex justify-center">
          <div class="bg-yellow-500 my-5 text-indigo-900  rounded-lg text-xl text-center font-black"
            style="width: 120px;">1900 2664</div>
          <div class="bg-yellow-500 my-5 text-indigo-900 ml-5 rounded-lg text-xl text-center font-black"
            style="width: 120px;">Tư Vấn</div>
  
        </div>
      </div>
    </div>
    <div class="hidden lg:block">
      <div class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8 hidden lg:block">
        <div class="footer-wrapper mb-10">
          <div class="footer-left justify-between flex flex-col">
            <div class="footer-left-logo">
              <div class="logo-footer">img</div>
              <ul class="icons-social">
                <li class="icon-item">icon</li>
                <li class="icon-item">icon</li>
                <li class="icon-item">icon</li>
              </ul>
            </div>
            <div class="footer-left-notify">img</div>
          </div>
          <div class="footer-right">
            <h2 class="footer-right-title">hệ thống học viện đào tạo thẩm mỹ quốc tế timona academy</h2>
            <ul class="footer-right-address">
              <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ Chí Minh</li>
              <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
              <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
              <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
              <li class="address-item">CN1: 408 Cao Thắng, P.12, Quận 10, TP. Hồ chí Minh</li>
            </ul>
            <div class="footer-right-contact">
              <div class="contact phone mr-3">Đội ngũ tư vấn (24/7): 1900 2664</div>
              <div class="contact email">Email: tuvan@tazaskinclinic.com</div>
            </div>
          </div>
        </div>
        <h2 class="footer-bottom"> &#169; TIMONA ACADEMY</h2>
  
      </div>
    </div>
  
  
  </footer>
