
<div class="lg:px-14">
    <div class="lg:px-6">
        <div class="bg-indigo-900 lg:mt-10 lg:pb-10">
            <p class="text-white uppercase text-center text-2xl lg:text-4xl  pt-3">Giới thiệu</p>
            <p class="lg:text-base text-sm text-white px-3 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo sequi
                aliquid pariatur eius nulla excepturi in ullam, repellendus sapiente est iure ducimus, expedita nobis,
                dolores exercitationem temporibus magni adipisci perspiciatis?</p>
        </div>

        <div class="mt-10 flex flex-col-reverse lg:flex-row container-storie">
            <div class="flex flex-col">
                <div class="">
                    <p class="text-indigo-900 uppercase text-2xl  font-black lg:text-5xl title">câu chuyện thương hiệu lịch sử hình thành</p>
                    <div style="width: 100%; height: 100%;" class="lg:hidden pb-5" >
                  
                        <div class=" bg-gray-100 " style="height: 300px">img</div>
    
                    </div>
                </div>
                <div class="flex flex-col md:flex-row ">
                    <div class="flex-1 md:mr-3 text-indigo-900 font-black text-column">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Quis perspiciatis ipsam dolor sint eligendi non, aspernatur officiis ullam ex
                        reiciendis harum quibusdam veniam ut nostrum architecto reprehenderit labore ea veritatis? Lorem
                        ipsum, dolor sit amet consectetur adipisicing elit. Accusantium excepturi aspernatur doloribus
                        voluptatem delectus, culpa dolores, cumque architecto explicabo, praesentium modi maxime maiores
                        doloremque est quae minima dicta inventore sunt?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ad aliquid cupiditate,
                        adipisci sunt est sequi nostrum voluptas vel asperiores fugit quis consectetur illum laborum
                        veritatis expedita placeat deleniti necessitatibus! Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Unde veniam nostrum quod nulla at. Debitis veniam eveniet sint! Molestiae,
                        nam! Ut veritatis fugit iure quasi saepe neque tempore officiis facere. Lorem ipsum dolor, sit
                        amet consectetur adipisicing elit. Praesentium obcaecati dolore cum molestiae cupiditate commodi
                        inventore hic enim omnis officia perspiciatis reiciendis ullam, odit eaque quae dolorem
                        molestias necessitatibus incidunt!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, at saepe. Suscipit quisquam
                        atque hic dignissimos corporis quaerat praesentium debitis quasi harum reprehenderit recusandae,
                        consectetur voluptate? Reiciendis harum accusantium alias.</div>
                </div>
            </div>
            <div class="flex-1  ">
                <div style="width: 500px; height: 100%;" class="hidden lg:block">
                    <div class="md:w-full w-3/4  bg-gray-100" style="height: 100%;">img</div>
                 
                </div>
                
            </div>
        </div>

        <div class=" flex flex-col lg:flex-row justify-between bg-indigo-900 pt-10 mt-10 intro-role">
            <div class="mx-3 role-item ">
                <div>
                    <p class="lg:text-5xl  text-4xl text-yellow-500 uppercase text-center title-border">Tôn chỉ</p>
                </div>
                
                <p class="text-white text-sm !ml-3 lg:mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur possimus
                    exercitationem omnis laboriosam similique doloribus neque deserunt alias mollitia? In nulla
                    asperiores, quia beatae cum molestiae sequi dolores tempore vel!</p>
            </div>

            <div class="mx-3 role-item ">
                <div>
                    <p class="lg:text-5xl  text-4xl text-yellow-500 uppercase text-center title-border">tầm nhìn</p>

                </div>
                <p class="text-white text-sm !ml-3 lg:mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur possimus
                    exercitationem omnis laboriosam similique doloribus neque deserunt alias mollitia? In nulla
                    asperiores, quia beatae cum molestiae sequi dolores tempore vel!</p>
            </div>

            <div class="mx-3 flex md:block">
                <div>
                    <p class="lg:text-5xl  text-4xl text-yellow-500 uppercase text-center title-border">sứ mệnh</p>

                </div>
                <p class="text-white text-sm !ml-3 lg:mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur possimus
                    exercitationem omnis laboriosam similique doloribus neque deserunt alias mollitia? In nulla
                    asperiores, quia beatae cum molestiae sequi dolores tempore vel!</p>
            </div>


        </div>

        <div class="flex justify-between lg:flex-row flex-col lg:pt-10 mt-10 mx-3 md:mx-0">
            <div class="bg-indigo-900 mr-10 intro-commit" style="width: 100%; height: 100%">
                <div class="bg-gray-100 img-border" style="height: 200px">
                </div>
                <div class="m-3"> 
                    <p class="uppercase lg:text-3xl text-xl text-yellow-500">uy tín<br> đặt lên hàng đầu</p>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere soluta
                        reiciendis molestias voluptate dolorum voluptatibus possimus nulla unde magni porro pariatur
                        quod fuga, adipisci, nisi sapiente animi veritatis repudiandae? Distinctio?</p>
                </div>

            </div>

            <div class="bg-indigo-900 mr-10 intro-commit" style="width: 100%; height: 100%">
                <div class="bg-gray-100 img-border" style="height: 200px">
                </div>
                <div class="m-3">
                    <p class="uppercase lg:text-3xl text-xl text-yellow-500">Chuyên nghiệp<br>trong đào tạo</p>

                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere soluta
                        reiciendis molestias voluptate dolorum voluptatibus possimus nulla unde magni porro pariatur
                        quod fuga, adipisci, nisi sapiente animi veritatis repudiandae? Distinctio?</p>
                </div>

            </div>

            <div class="bg-indigo-900 intro-commit" style="width: 100%; height: 100%">
                <div class="bg-gray-100 img-border" style="height: 200px">
                </div>
                <div class="m-3">
                    <p class="uppercase lg:text-3xl text-xl text-yellow-500">cam kết và<br> đảm bảo thực hiện</p>

                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere soluta
                        reiciendis molestias voluptate dolorum voluptatibus possimus nulla unde magni porro pariatur
                        quod fuga, adipisci, nisi sapiente animi veritatis repudiandae? Distinctio?</p>
                </div>

            </div>
        </div>

        <div class="lg:py-10 mx-3 lg:mx-0">
            <div class="">
                <p class="lg:text-5xl text-2xl font-black text-indigo-900 text-center uppercase">các chuyên ngành đào tạo</p>
                <p class="text-indigo-900 text-center lg:mx-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Temporibus voluptatum quae enim ab sunt beatae porro, et distinctio doloremque laboriosam vitae
                    libero totam molestias omnis eos aut alias, eaque necessitatibus.</p>
            </div>
            <div class="grid lg:grid-rows-3 grid-rows-4 grid-flow-col lg:gap-4 gap-1 pb-5">
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shape-outer">
                        <div class="shape-inner sign-right uppercase text-indigo-900 text-base lg:py-2 pl-2">kỹ thuật sapa
                            <br> chuyên nghiệp
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <p class="text-indigo-900 text-center">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel quaerat eligendi similique beatae
                    aperiam nihil ex dolore molestiae praesentium itaque deserunt, laudantium maxime perferendis
                    provident sit quod quisquam delectus explicabo.<br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa obcaecati, laboriosam, aspernatur
                    laudantium, in iste ratione enim veritatis porro amet possimus odit perferendis?</p>
            </div>

        </div>

        <div class=" bg-indigo-900 rounded-3xl mb-10">
            <div class="lg:px-5 pt-5 px-3 lg:pb-3 flex justify-between flex-col lg:flex-row">
                <div class="flex-1 ">
                    <p class="lg:text-5xl text-2xl text-yellow-500 uppercase title">chứng chỉ khóa học</p>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic eligendi quia
                        voluptatibus, in blanditiis sit corporis ad laudantium doloremque possimus quaerat consequuntur
                        tempore unde, dolorem impedit iusto molestias assumenda sunt. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Assumenda facilis iste voluptas hic dolorum aspernatur alias dolor
                        omnis necessitatibus itaque perferendis mollitia veniam, eos nostrum quasi dicta tempore
                        molestias iure!</p>
                </div>
                <div class=" mx-3 flex flex-col items-center">
                    <div>
                        <p class="text-center text-white">Kết thúc khóa học vẫn sẽ được cấp đầy đủ 2 loại bằng/ chứng
                            chỉ </p>
                    </div>

                    <div class="lg:mx-3 flex flex-col lg:flex-row ">
                        <div class="lg:mx-3">
                            <div class="img-res" style="width: 400px; height: 300px;">
                                <div class="w-full h-full bg-gray-100"></div>
                            </div>
                            <p class="text-white text-center pt-3">01 Chứng chỉ Hành nghề của Sử LDTBXH</p>
                        </div>

                        <div class="lg:mx-3">
                            <div class="img-res" style="width: 400px; height: 300px;">
                                <div class="w-full h-full bg-gray-100"></div>
                            </div>
                            <p class="text-white text-center pt-3">01 Chứng chỉ Hành nghề của Sử LDTBXH</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class=" bg-indigo-900 rounded-3xl mb-10 ">
            <div class="lg:m-5 mx-3 lg:mx-0 pt-5 relative">
               
                    <div class="pb-3">
                        <p class="uppercase md:text-3xl text-2xl text-yellow-500 title">Cơ sở vật chất hiện đại</p>
                        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
                            dolor maxime
                            commodi cupiditate eum totam quam numquam? Nostrum quas temporibus, nisi eaque
                            veritatis
                            fuga impedit eligendi adipisci cumque! Assumenda, error!</p>
                    </div>
                    
            
                <div id="carouselExampleIndicatorss" class="carousel slide hidden lg:block" data-bs-ride="carousel">
                    <div class="carousel-indicators !bottom-0">
                        <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="0"
                            class="active !w-2 !h-2 " style="border-radius: 50% !important; " aria-current="true"
                            aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="1"
                            class="!w-2 !h-2 " style="border-radius: 50% !important; " aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="2"
                            class="!w-2 !h-2 " style="border-radius: 50% !important; " aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <div class="flex justify-between pb-5">
                                <div class="">
                                    <div style=" height: 250px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                                <div class="">
                                    <div style=" height: 250px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                                <div class="">
                                    <div style=" height: 250px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                            </div> 
                        </div>
                        <div class="carousel-item">
                            <div class="flex justify-between pb-5">
                                <div class="">
                                    <div style=" height: 250px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                                <div class="">
                                    <div style=" height: 250px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                                <div class="">
                                    <div style=" height: 250px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="flex justify-between pb-5">
                                <div class="">
                                    <div style=" height: 250px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
    
                                <div class="">
                                    <div style=" height: 250px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                                <div class="">
                                    <div style=" height: 250px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>

                </div>

                <div id="mbile" class="carousel slide lg:hidden" data-bs-ride="carousel">
                    <div class="carousel-indicators !bottom-0">
                        <button type="button" data-bs-target="#mbile" data-bs-slide-to="0"
                            class="active !w-2 !h-2 " style="border-radius: 50% !important; " aria-current="true"
                            aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#mbile" data-bs-slide-to="1"
                            class="!w-2 !h-2 " style="border-radius: 50% !important; " aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#mbile" data-bs-slide-to="2"
                            class="!w-2 !h-2 " style="border-radius: 50% !important; " aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <div class="flex justify-between pb-5">
                                <div class="mr-3 flex-1">
                                    <div style=" height: 150px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white text-center">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                                <div class="ml-3 flex-1">
                                    <div style=" height: 150px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white text-center">103 Phan Văn Đậu, P.7, Q.Bình Thạnh</p>
                                    </div>
                                </div>
        
                               
        
                            </div> 
                        </div>
                        <div class="carousel-item ">
                            <div class="flex justify-between pb-5">
                                <div class="mr-3 flex-1">
                                    <div style=" height: 150px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức 1
                                        </p>
                                        <p class="text-white text-center">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                                <div class="ml-3 flex-1">
                                    <div style=" height: 150px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white text-center">103 Phan Văn Đậu, P.7, Q.Bình Thạnh</p>
                                    </div>
                                </div>
        
                               
        
                            </div> 
                        </div>
                        <div class="carousel-item ">
                            <div class="flex justify-between pb-5">
                                <div class="mr-3 flex-1">
                                    <div style=" height: 150px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức 1
                                        </p>
                                        <p class="text-white text-center">Số 1090A Phạm Văn Đồng, P.Linh Đông, Tp.Thủ Đức</p>
                                    </div>
                                </div>
        
                                <div class="ml-3 flex-1">
                                    <div style=" height: 150px;" class="bg-gray-100">
                                        <div class="bg-gray-100 w-full height-full"></div>
                                    </div>
                                    <div class="">
                                        <p class="uppercase text-base text-center text-white !my-2">học viện thủ đức
                                        </p>
                                        <p class="text-white text-center">103 Phan Văn Đậu, P.7, Q.Bình Thạnh</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="absolute w-full bottom-2     bg-red-100 left-0 hidden lg:block" style="height: 1px;"></div>
            </div>

            <div class="lg:mx-5 mx-3 relative">
                <div class="flex justify-between flex-col-reverse lg:flex-row items-center mb-2 lg:pb-5">
                    <div class="lg:pr-10  info-infras" style="width: 70%;">
                        <p class="text-yellow-500 uppercase text-xl lg:text-3xl my-3">môi trường học tập lý tưởng</p>
                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cum, iusto
                            voluptas sapiente voluptatem, asperiores amet eaque facere harum quas maxime quaerat facilis
                            odio cumque sed ratione temporibus quos quod! Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Dolorum architecto ullam ea nisi eius suscipit voluptatibus porro magni
                            obcaecati repellat nam, est iste dicta magnam delectus quod excepturi? Esse, dolore?</p>
                    </div>
                    <div class="bg-gray-100 img-infras" style="width: 600px; height: 200px;"></div>
                </div>

                <div class="flex justify-between flex-col-reverse lg:flex-row items-center mb-2 lg:pb-5">
                    <div class="lg:pr-10  info-infras" style="width: 70%;">
                        <p class="text-yellow-500 uppercase text-xl lg:text-3xl my-3">môi trường học tập lý tưởng</p>
                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cum, iusto
                            voluptas sapiente voluptatem, asperiores amet eaque facere harum quas maxime quaerat facilis
                            odio cumque sed ratione temporibus quos quod! Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Dolorum architecto ullam ea nisi eius suscipit voluptatibus porro magni
                            obcaecati repellat nam, est iste dicta magnam delectus quod excepturi? Esse, dolore?</p>
                    </div>
                    <div class="bg-gray-100 img-infras" style="width: 600px; height: 200px;"></div>
                </div>

                <div class="flex justify-between flex-col-reverse lg:flex-row items-center mb-2 lg:pb-5">
                    <div class="lg:pr-10  info-infras" style="width: 70%;">
                        <p class="text-yellow-500 uppercase text-xl lg:text-3xl my-3">môi trường học tập lý tưởng</p>
                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cum, iusto
                            voluptas sapiente voluptatem, asperiores amet eaque facere harum quas maxime quaerat facilis
                            odio cumque sed ratione temporibus quos quod! Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Dolorum architecto ullam ea nisi eius suscipit voluptatibus porro magni
                            obcaecati repellat nam, est iste dicta magnam delectus quod excepturi? Esse, dolore?</p>
                    </div>
                    <div class="bg-gray-100 img-infras" style="width: 600px; height: 200px;"></div>
                </div>

                <div class="absolute w-full bottom-2 md:hidden bg-red-100 left-0" style="height: 1px;"></div>
            </div>

            <div class="lg:m-5 lg:pb-5 mx-3 lg:mx-0 md:pt-10">
                <div class="flex justify-center items-center">
                    <div class=" left-0 h-full top-0 text-yellow-500 mr-4 number" >10</div>
                    <div class="text-2xl lg:text-5xl text-yellow-500 uppercase ">Cam kết vàng từ <br class="hidden lg:block"> timona academy</div>
                </div>

                <div class="pt-10 flex justify-around">
                    <div class="flex flex-col mr-2 md:mr-0">
                        <div class="commit-intro relative ml-3 mb-3">
                            <div class="absolute flex items-center justify-center left-0 lg:text-3xl text-xl text-indigo-900 bg-yellow-500 text-center rounded-md"
                                style="width: 40px; height: 100%; left: -15px;">1</div>
                            <p class=" uppercase lg:text-xl text-sm text-yellow-500 ten-commit">Học vững kiến thức chắc tay
                                nghề</p>

                        </div>
                        <div class="commit-intro relative ml-3 mb-3">
                            <div class="absolute flex items-center justify-center left-0 lg:text-3xl text-xl text-indigo-900 bg-yellow-500 text-center rounded-md"
                                style="width: 40px; height: 100%; left: -15px;">2</div>
                            <p class=" uppercase lg:text-xl text-sm text-yellow-500 ten-commit">Học vững kiến thức chắc tay
                                nghề</p>

                        </div>
                        <div class="commit-intro relative ml-3 mb-3">
                            <div class="absolute flex items-center justify-center left-0 lg:text-3xl text-xl text-indigo-900 bg-yellow-500 text-center rounded-md"
                                style="width: 40px; height: 100%; left: -15px;">3</div>
                            <p class=" uppercase lg:text-xl text-sm text-yellow-500 ten-commit">Học vững kiến thức chắc tay
                                nghề</p>

                        </div>
                        <div class="commit-intro relative ml-3 mb-3">
                            <div class="absolute flex items-center justify-center left-0 lg:text-3xl text-xl text-indigo-900 bg-yellow-500 text-center rounded-md"
                                style="width: 40px; height: 100%; left: -15px;">4</div>
                            <p class=" uppercase lg:text-xl text-sm text-yellow-500 ten-commit">Học vững kiến thức chắc tay
                                nghề</p>

                        </div>
                        <div class="commit-intro relative ml-3 mb-3">
                            <div class="absolute flex items-center justify-center left-0 lg:text-3xl text-xl text-indigo-900 bg-yellow-500 text-center rounded-md"
                                style="width: 40px; height: 100%; left: -15px;">5</div>
                            <p class=" uppercase lg:text-xl text-sm text-yellow-500 ten-commit">Học vững kiến thức chắc tay
                                nghề</p>

                        </div>
                        


                    </div>
                    <div class="flex flex-col">
                        <div class="commit-intro relative ml-3 mb-3">
                            <div class="absolute flex items-center justify-center left-0 lg:text-3xl text-xl text-indigo-900 bg-yellow-500 text-center rounded-md"
                                style="width: 40px; height: 100%; left: -15px;">6</div>
                            <p class=" uppercase lg:text-xl text-sm text-yellow-500 ten-commit">Học vững kiến thức chắc tay
                                nghề</p>

                        </div>
                        <div class="commit-intro relative ml-3 mb-3">
                            <div class="absolute flex items-center justify-center left-0 lg:text-3xl text-xl text-indigo-900 bg-yellow-500 text-center rounded-md"
                                style="width: 40px; height: 100%; left: -15px;">7</div>
                            <p class=" uppercase lg:text-xl text-sm text-yellow-500 ten-commit">Học vững kiến thức chắc tay
                                nghề</p>

                        </div>
                        <div class="commit-intro relative ml-3 mb-3">
                            <div class="absolute flex items-center justify-center left-0 lg:text-3xl text-xl text-indigo-900 bg-yellow-500 text-center rounded-md"
                                style="width: 40px; height: 100%; left: -15px;">8</div>
                            <p class=" uppercase lg:text-xl text-sm text-yellow-500 ten-commit">Học vững kiến thức chắc tay
                                nghề</p>

                        </div>
                        <div class="commit-intro relative ml-3 mb-3">
                            <div class="absolute flex items-center justify-center left-0 lg:text-3xl text-xl text-indigo-900 bg-yellow-500 text-center rounded-md"
                                style="width: 40px; height: 100%; left: -15px;">9</div>
                            <p class=" uppercase lg:text-xl text-sm text-yellow-500 ten-commit">Học vững kiến thức chắc tay
                                nghề</p>

                        </div>
                        <div class="commit-intro relative ml-3 mb-3">
                            <div class="absolute flex items-center justify-center left-0 lg:text-3xl text-xl text-indigo-900 bg-yellow-500 text-center rounded-md"
                                style="width: 40px; height: 100%; left: -15px;">10</div>
                            <p class=" uppercase lg:text-xl text-sm text-yellow-500 ten-commit">Học vững kiến thức chắc tay
                                nghề</p>

                        </div>
                        


                    </div>
                    
                </div>
            </div>

        </div>

        <div class="pb-10 mx-3 lg:mx-0">
            <div class="text-center lg:text-5xl text-2xl text-indigo-900 uppercase">hệ thống tuyển dụng của timona academy</div>
            <div class="flex items-center justify-center lg:pt-10 pt-3">
                <div class="bg-indigo-900 lg:mx-10 mx-3 trademark-img" ></div>
                <div class="bg-indigo-900 lg:mx-10 mx-3 trademark-img" ></div>
                <div class="bg-indigo-900 lg:mx-10 mx-3 trademark-img" ></div>
                <div class="bg-indigo-900 lg:mx-10 mx-3 trademark-img" ></div>




            </div>
        </div>
    </div>


</div>