<section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8 bg-red     -100">

    <div class="text-center mt-10 mx-96 ">
        <div class="dropdown">
            <button
                class="btn btn-secondary bg-indigo-900 rounded-3xl text-left px-5 dropdown-toggle relative  text-2xl text-yellow-500 uppercase"
                type="button" id="dropdownMenuButton1" style="width: 500px;" data-bs-toggle="dropdown"
                aria-expanded="false">
                hoạt động
                <div class="absolute h-full bg-yellow-500 top-0 " style="width: 2px; right: 55px;"></div>
                
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                <li><a class="dropdown-item" routerLink="/goc-hoc-vien/giai-dap">Giải Đáp</a></li>
                <li><a class="dropdown-item" routerLink="/goc-hoc-vien/cam-nghi-hoc-vien">Cảm Nghĩ Học Viên</a></li>
            </ul>
        </div>

    </div>

    <div class="lg:pt-10 w-full h-1/2 flex flex-col  hidden lg:block">
        <div class="pb-5">
            <div class="text-base text-indigo-900">Home >> Góc Học Viên >> Hoạt Động</div>
        </div>
    </div>

    <div class="">
        <div class="w-full bg-red-100 relative" style="height: 300px;">
            <div
                class="absolute text-indigo-900 font-black text-5xl uppercase left-1/2 z-10 top-1/2 contact-center hidden lg:block center-img">
                <p class="text-5xl">HỌẠT ĐỘNG <br> NGOẠI KHÓA</p>
                <p class="text-xl">Truyền nghề spa <br> Truyền mọi tinh hoa trong ngành làm đẹp</p>
            </div>
            <div class="absolute  bg-gray-100 right-0 w-1/4 right-0 h-full contact-center z-2 hidden lg:block img">
            </div>
        </div>
        <div class="pt-3">
            <p class="text-indigo-900">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi natus architecto aliquid velit accusamus
                hic. Quidem dicta ut expedita est nesciunt officiis quasi fugit necessitatibus. Voluptatibus accusantium
                repellat neque odio!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae facilis doloremque magni at hic
                provident velit molestias illum architecto soluta, quaerat eos dolor eaque suscipit exercitationem unde
                culpa sed voluptatem.
            </p>
        </div>
    </div>
    <div>
        <div class="pt-4 flex justify-start new-item cursor-pointer">
            <div class=" w-full bg-gray-200 pr-4 mr-4">
                <div class="banner-img"></div>
            </div>
            <div class="flex flex-col justify-between new-info">
                <p class="text-base text-indigo-900 font-black uppercase">bạn đã biết lợi ích thần kỳ của việc massage
                    chưa</p>
                <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                    beatae
                    corrupti
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolor facilis error obcaecati architecto reprehenderit est voluptates beatae? Consequuntur neque, consequatur numquam quod ea quidem vero id! Sequi, magni eligendi.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ea hic provident, amet minima ipsum enim eaque in impedit aliquam, repellendus, dolorum obcaecati neque velit quo explicabo. Necessitatibus, ducimus voluptatibus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quidem, sapiente ea accusamus autem nesciunt sunt. Facilis odit totam excepturi, corrupti dolorum nostrum. Nemo, ab suscipit molestias placeat dolores accusamus?
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                    beatae
                    corrupti

                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                    beatae
                    corrupti
                </span>
                <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu
                    thêm >></a>

            </div>
        </div>
        <div class="pt-4 flex justify-start new-item cursor-pointer">
            <div class=" w-full bg-gray-200 pr-4 mr-4">
                <div class="banner-img"></div>
            </div>
            <div class="flex flex-col justify-between new-info">
                <p class="text-base text-indigo-900 font-black uppercase">bạn đã biết lợi ích thần kỳ của việc massage
                    chưa</p>
                <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                    beatae
                    corrupti
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolor facilis error obcaecati architecto reprehenderit est voluptates beatae? Consequuntur neque, consequatur numquam quod ea quidem vero id! Sequi, magni eligendi.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ea hic provident, amet minima ipsum enim eaque in impedit aliquam, repellendus, dolorum obcaecati neque velit quo explicabo. Necessitatibus, ducimus voluptatibus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quidem, sapiente ea accusamus autem nesciunt sunt. Facilis odit totam excepturi, corrupti dolorum nostrum. Nemo, ab suscipit molestias placeat dolores accusamus?
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                    beatae
                    corrupti

                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                    beatae
                    corrupti
                </span>
                <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu
                    thêm >></a>

            </div>
        </div>
        <div class="pt-4 flex justify-start new-item cursor-pointer">
            <div class=" w-full bg-gray-200 pr-4 mr-4">
                <div class="banner-img"></div>
            </div>
            <div class="flex flex-col justify-between new-info">
                <p class="text-base text-indigo-900 font-black uppercase">bạn đã biết lợi ích thần kỳ của việc massage
                    chưa</p>
                <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                    beatae
                    corrupti
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolor facilis error obcaecati architecto reprehenderit est voluptates beatae? Consequuntur neque, consequatur numquam quod ea quidem vero id! Sequi, magni eligendi.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ea hic provident, amet minima ipsum enim eaque in impedit aliquam, repellendus, dolorum obcaecati neque velit quo explicabo. Necessitatibus, ducimus voluptatibus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quidem, sapiente ea accusamus autem nesciunt sunt. Facilis odit totam excepturi, corrupti dolorum nostrum. Nemo, ab suscipit molestias placeat dolores accusamus?
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                    beatae
                    corrupti

                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                    beatae
                    corrupti
                </span>
                <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu
                    thêm >></a>
            </div>
        </div>
    </div>






</section>