<section class="lg:max-w-7xl pb-12 mx-auto lg:px-2 lg:px-6 lg:px-8 lg:pt-12">
    <div class="flex justify-between lg:flex-row flex-col-reverse lg:px-0 px-4">
      <div class="flex-1 mr-4 flex flex-col justify-between">
        <div class="intro-left__top">
          <div class="uppercase lg:pl-2 mb-2 relative text-indigo-900 text-xl  font-bold  lg:pt-0 pt-10 relative">
            Giới thiệu
            <div class="absolute h-full w-0.5 bg-indigo-900 top-0 left-0 hidden lg:block"> </div>
          </div>

          <div class="lg:w-3/4 text-sm pb-3 text-indigo-900 font-bold  w-full ">Học viện thẩm mỹ
            quốc tế Timona Academy tự hào là địa chỉ đào tạo chuyên
            nghiệp nguồn nhân lực chất lượng cao cho ngành làm đẹp với cam kết 100%
            việc làm cho học viên sau tốt nghiệp. Đồng thời, đây cũng là đơn vị uy tín cấp
            phép bởi Sở LĐTBXH và được giới chuyên môn đánh giá cao trong công tác
            đào tạo, ứng dụng công nghệ mới của ngành Thẩm mỹ.<br class="lg:hidden">
            Suốt hơn 6 năm hoạt động, Timona Academy luôn được hàng ngàn học viên
            tín nhiệm là địa chỉ dạy nghề thẩm mỹ uy tín và chất lượng như một điểm sáng
            giữa thực trạng “vàng thau lẫn lộn” các cơ sở dạy nghề hiện nay.
          </div>
        </div>
        <div class="text-indigo-900 text-xs top-3 font-black new-link hidden lg:block ">
          <a href="#" class="text-base   ">Tìm hiểu thêm >></a>
        </div>
        <div
          class="text-indigo-900 text-xs top-3 text-center  font-black new-link bg-indigo-900   lg:mx-0 rounded-lg lg:hidden">
          <a href="#" class="text-base text-white ">Tìm hiểu thêm >></a>
        </div>
      </div>

      <div class="flex-1 pt-10 lg:pt-0">
        <div class="flex-1 bg-gray-200 ">
          <div style="width:300px; height:300px"></div>
        </div>
      </div>
    </div>
  </section>
