.dropdown-menu{
    width: 90%;
}
.btn-secondary:hover{
    
    
}
.dropdown-toggle::after{
    margin-left: 1.5rem;
}
.center-img{
    transform: translate(-25%, -50%);
}

.form-sale{
   
    background-color: rgb(8, 8, 109);
    padding-bottom: 50px;
    border-radius: 20px;
}
.form-wrapper{
    padding: 50px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    

}
.form-left{
    display: flex;
    flex: 1;
    
}
.form-left-info{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.form-title{
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: end;
    position: relative;
    
}
.form-title::after{
    position: absolute;
    content: "";
    width: 200px;
    height: 1px;
    
    background-color: #fff;
    bottom: -10px;
    right: 0;
}
.gif{
    width: 100%;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: end;
    text-transform: uppercase;
    color: #fff;
}
.form-left-total{
    height: auto;
    margin-left: 15px;
}
.title{
    font-size: 75px;
}
.form-right{
flex: 1.5;
}

.form-submit input{
    width: 300px;
}
.form-submit select{
    width: 300px;
}

.form-submit button{
    border: none;
    background-color: rgb(182, 182, 47);
    border-radius: 10px;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}