<section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8 bg-red     -100">

    <div class="text-center mt-10 mx-96 ">
        <div class="dropdown">
            <button
                class="btn btn-secondary bg-indigo-900 rounded-3xl px-5 dropdown-toggle relative  text-2xl text-yellow-500 uppercase"
                type="button" id="dropdownMenuButton1" style="width: 500px;" data-bs-toggle="dropdown" aria-expanded="false">
                
                hỏi đáp cùng timona Academy
                <div class="absolute h-full bg-yellow-500 top-0 " style="width: 2px; right: 55px;"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                
                <li><a class="dropdown-item" routerLink="/goc-hoc-vien/hoat-dong">Hoạt Động</a></li>
                <li><a class="dropdown-item" routerLink="/goc-hoc-vien/cam-nghi-hoc-vien">Cảm Nghĩ Học Viên</a></li>
            </ul>
        </div>

    </div>

    <div class="lg:pt-10 w-full h-1/2 flex flex-col  hidden lg:block">
        <div class="pb-5">
            <div class="text-base text-indigo-900">Home >> Góc Học Viên >> Hỏi Đáp Cùng Timona Academy</div>
        </div>
    </div>

    <div class="">
        <div class="w-full bg-red-100 relative" style="height: 300px;">
            <div
                class="absolute text-indigo-900 font-black text-5xl uppercase left-1/2 z-10 top-1/2 contact-center hidden lg:block center-img">
                <p class="text-5xl">Giải Đáp</p>
                <p class="text-xl">Phản phản hồi tất cả thắc mắc của học viên</p>
            </div>
            <div class="absolute  bg-gray-100 right-0 w-1/4 right-0 h-full contact-center z-2 hidden lg:block img">
            </div>
        </div>
    </div>

    <div class="pt-10">
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Em muốn đăng ký học phun xăm thì có cần năng khiếu không?</h2>
            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos temporibus at suscipit eveniet
                tempore eum fugiat reprehenderit dignissimos consequatur soluta repellat adipisci neque, aperiam
                voluptas et modi molestiae explicabo hic? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                et fugiat labore commodi repudiandae magnam veritatis non soluta, ea rerum earum quis est reprehenderit
                corporis cupiditate voluptatem totam eius! Officiis.</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Em muốn đăng ký học phun xăm thì có cần năng khiếu không?</h2>
            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos temporibus at suscipit eveniet
                tempore eum fugiat reprehenderit dignissimos consequatur soluta repellat adipisci neque, aperiam
                voluptas et modi molestiae explicabo hic? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                et fugiat labore commodi repudiandae magnam veritatis non soluta, ea rerum earum quis est reprehenderit
                corporis cupiditate voluptatem totam eius! Officiis.</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Em muốn đăng ký học phun xăm thì có cần năng khiếu không?</h2>
            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos temporibus at suscipit eveniet
                tempore eum fugiat reprehenderit dignissimos consequatur soluta repellat adipisci neque, aperiam
                voluptas et modi molestiae explicabo hic? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                et fugiat labore commodi repudiandae magnam veritatis non soluta, ea rerum earum quis est reprehenderit
                corporis cupiditate voluptatem totam eius! Officiis.</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Em muốn đăng ký học phun xăm thì có cần năng khiếu không?</h2>
            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos temporibus at suscipit eveniet
                tempore eum fugiat reprehenderit dignissimos consequatur soluta repellat adipisci neque, aperiam
                voluptas et modi molestiae explicabo hic? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                et fugiat labore commodi repudiandae magnam veritatis non soluta, ea rerum earum quis est reprehenderit
                corporis cupiditate voluptatem totam eius! Officiis.</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Em muốn đăng ký học phun xăm thì có cần năng khiếu không?</h2>
            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos temporibus at suscipit eveniet
                tempore eum fugiat reprehenderit dignissimos consequatur soluta repellat adipisci neque, aperiam
                voluptas et modi molestiae explicabo hic? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                et fugiat labore commodi repudiandae magnam veritatis non soluta, ea rerum earum quis est reprehenderit
                corporis cupiditate voluptatem totam eius! Officiis.</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Em muốn đăng ký học phun xăm thì có cần năng khiếu không?</h2>
            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos temporibus at suscipit eveniet
                tempore eum fugiat reprehenderit dignissimos consequatur soluta repellat adipisci neque, aperiam
                voluptas et modi molestiae explicabo hic? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                et fugiat labore commodi repudiandae magnam veritatis non soluta, ea rerum earum quis est reprehenderit
                corporis cupiditate voluptatem totam eius! Officiis.</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Em muốn đăng ký học phun xăm thì có cần năng khiếu không?</h2>
            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos temporibus at suscipit eveniet
                tempore eum fugiat reprehenderit dignissimos consequatur soluta repellat adipisci neque, aperiam
                voluptas et modi molestiae explicabo hic? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                et fugiat labore commodi repudiandae magnam veritatis non soluta, ea rerum earum quis est reprehenderit
                corporis cupiditate voluptatem totam eius! Officiis.</p>
        </div>

    </div>

    <div class="form-sale  hidden lg:block">
        <div class="form-wrapper">
            <div class="form-left">

                <div class="form-left-total">
                    <div class="text-5xl text-yellow-500 uppercase title">tư vấn miễn phí</div>
                </div>
            </div>
            <div class="form-right">
                <form class="flex flex-col relative pb-5">
                    <div class="flex">
                        <input type="text" id="username-success"
                            class="bg-green-50 w-1/2 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mr-3  mt-1 focus:border-black-500 block  p-1.5 dark:bg-black-100 dark:border-black-400"
                            placeholder="HỌ TÊN">
                        <input type="text" id="username-success"
                            class="bg-green-50 w-1/2 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 ml-3 mt-1 focus:border-black-500 block  p-1.5 dark:bg-black-100 dark:border-black-400"
                            placeholder="SỐ ĐIỆN THOẠI">

                    </div>

                    <div class="form-group w-full pt-4">

                        <textarea
                            class="form-control textarea-form font-black text-gray-100 rounded-xl lg:text-sm text-xs "
                            id="exampleFormControlTextarea1" placeholder="NHẬP NỘI DUNG CẦN TƯ VẤN" rows="3"></textarea>
                    </div>

                    <button class="bg-yellow-500 text-indigo-900 uppercase px-3 rounded-lg font-black py-2 absolute bottom-0">gửi đăng ký</button>
                </form>
            </div>
        </div>
    </div>


</section>