<div class="lg:px-20 px-4">
  <div class="flex flex-col justify-center items-center">
    <p class="lg:text-5xl specializ-title font-bold text-white uppercase ">Chuyên ngành đào tạo</p>
    <span class="item-des text-center text-white lg w-3/4 italic">Nhằm đáp ứng nhu cầu làm đẹp ngày càng cao của xã hội, Timona Academy chú trọng đào tạo đa dạng và bài bản các chuyên ngành thẩm mỹ từ cơ bản đến chuyên sâu với giáo trình học độc quyền 1 kèm 1, phương pháp đào tạo theo tiêu chuẩn quốc tế.
    </span>
  </div>
  
  <div class="lg:grid grid-cols-3 gap-x-8 gap-y-4 pt-10 ">
    <div class="gallery-item">
      <div class="item-img "></div>
      <div class="item-info ">
        <div class="item-title ">Phun xăm<br class="lg:block hidden"> thẩm mỹ</div>
        <span class="item-des">Phun xăm thẩm mỹ được mệnh danh là nghề "hốt bạc" trong thời đại làm đẹp lên ngôi như hiện nay. Với cơ hội nghề nghiệp cao, thu nhập khủng lên tới 30 triệu đồng/ tháng, tiết kiệm chi phí, thời gian học tập. Đây chắc chắn là lựa chọn lý tưởng cho bạn trẻ ngoài con đường đại học, cao đẳng. NHƯNG HỌC Ở Đ U để vững kiến thức, chắc tay nghề, học xong là có đầy đủ kỹ năng để xin việc ngay?</span>
        <div class="bg-white mx-14 rounded-lg lg:hidden">
          <a href="#" class="!text-indigo-900">Xem thêm các khóa học khác >></a>
        </div>
      </div>
      <a class="hidden lg:block">Xem thêm >> </a>
    </div>

    

    <div class="gallery-item hidden lg:block">
      <div class="item-img"></div>
      <div class="item-info">
        <div class="item-title">KỸ THUẬT VIÊN SPA <br> CHUYÊN NGHIỆP</div>
        <span class="item-des">Dễ học, dễ tìm việc làm, không yêu cầu bằng cấp đầu vào, thu nhập ổn định… chính là những yếu tố giúp nghề kỹ thuật viên Spa trở thành xu hướng “hot” chiếm lĩnh thị trường làm đẹp hiện nay. Không chỉ thu hút giới trẻ mà mọi đối tượng nam nữ, kể cả những người ở độ tuổi trung niên cũng tham gia khóa học. Đặc biệt, sự phát triển và cơ hội việc làm, thăng tiến trong ngành spa luôn luôn được mở rộng theo nhu cầu làm đẹp của con người.</span>
      </div>
      <a class="#">Xem thêm >></a>
    </div>

    <div class="gallery-item hidden lg:block">
      <div class="item-img"></div>
      <div class="item-info">
        <div class="item-title">NỐI MI<br>  CHUYÊN NGHIỆP
        </div>
        <span class="item-des">Nhu cầu làm đẹp trở thành tất yếu cũng là lúc người người nhà nhà đổ xô đi học nối mi chuyên nghiệp. Nghề nối mi đã có mặt ở rất nhiều quốc gia trên thế giới và phát triển mạnh mẽ tại Hàn quốc, Nhật Bản, Mỹ, Pháp… Tại Việt Nam, trong một vài năm trở lại đây, nghề này ngày càng khẳng định vị thế trong lĩnh vực chăm sóc sắc đẹp. Sự phát triển của nghề nối mi vừa mang tới cơ hội việc làm nhưng lại vừa là thách thức về sự cạnh tranh khốc liệt, đòi hỏi những ai muốn theo đuổi nghề này cần nỗ lực hết mình.</span>
      </div>
      <a class="#">Xem thêm >></a>
    </div>

    <div class="gallery-item hidden lg:block">
      <div class="item-img"></div>
      <div class="item-info">
        <div class="item-title">COMBO CHỦ SPA <br>CHUYÊN NGHIỆP</div>
        <span class="item-des">Mỗi năm có hơn 2.000 đơn vị spa từ quy mô nhỏ đến lớn được mở ra trên toàn quốc. Để thành công, những chủ spa cần có đầy đủ kiến thức, kỹ năng và tư duy lãnh đạo toàn diện mới có thể gây dựng doanh nghiệp phát triển bền vững trên thị trường. Với khóa học Chủ Spa chuyên nghiệp, học viên sẽ được truyền dạy nền tảng kiến thức quản lý spa tốt nhất từ setup máy móc thiết bị đến nhân sự, tài chính, chăm sóc khách hàng cho đến xây dựng chiến dịch quảng cáo PR, marketing tiếp cận khách hàng cho spa… Sau khi kết thúc khóa học, học viên sẽ tự tin điều hành một cơ sở spa hiệu quả, mang lợi nhuận cho doanh nghiệp.</span>
      </div>
      <a class="#">Xem thêm >></a>
    </div>

    <div class="gallery-item hidden lg:block">
      <div class="item-img"></div>
      <div class="item-info">
        <div class="item-title">master <br> thẩm mỹ</div>
        <span class="item-des">Học viên sẽ được đào tạo bài bản tất tần tật những kiến thức, kinh nghiệm từ cơ bản đến nâng cao: Cách xây dựng phác đồ điều trị tất cả bệnh lý về da như mụn, sẹo rỗ, nám, tàn nhang... Ngoài ra, các bạn học viên còn được đào tạo phương pháp điều trị da bằng những công nghệ hiện đại nhất hiện nay như PRP, lăn kim, phi kim... Sau khi tốt nghiệp học viên sẽ có đầy đủ kiến thức, kỹ năng để trở thành chuyên viên spa, thẩm mỹ hàng đầu và có thể làm việc tại các spa, thẩm mỹ viện lớn hoặc mở spa của riêng mình.</span>
      </div>
      <a class="#">Xem thêm >></a>
    </div>

    <div class="gallery-item hidden lg:block">
      <div class="item-img"></div>
      <div class="item-info">
        <div class="item-title">GỘI ĐẦU <br> DƯỠNG SINH</div>
        <span class="item-des">Nhịp sống hiện đại với nhiều áp lực, stress… nhiều người tìm đến các liệu pháp chăm sóc, làm đẹp, đặc biệt là gội đầu dưỡng sinh, thư giãn tại spa. Không chỉ tại Việt Nam, ngay cả các quốc gia phát triển như Hàn Quốc, Mỹ… Spa, gội đầu dưỡng sinh đang trở thành định hướng nghề nghiệp đầy tiềm năng, tạo công ăn việc làm và thu nhập cao cho người lao động. Tốt nghiệp khóa học gội đầu dưỡng sinh tại Timona Academy, học viên hoàn toàn tự tin tìm kiếm cơ hội việc làm tại các spa, thẩm mỹ viện lớn với mức lương khủng, thậm chí có thể mở các dịch vụ làm đẹp, gội đầu dưỡng sinh của riêng mình.</span>
      </div>
      <a class="#">Xem thêm >></a>
    </div>

  </div>

  <div class="commit-wrapper">
    <div class="specializ-top">
      <p class="specializ-title">Cam kết</p>
      <span class="specializ-des lg:w-3/4 italic">Timona Academy tạo nền tảng kiến thức vững chắc và bệ phóng khởi nghiệp giúp học viên phát triển bản thân, xây dựng sự nghiệp, thành công trong tương lai!</span>
    </div>
    <div class="specializ-gallery">
      <div class="item-commit">
        <div class="item-icon">img</div>
        <div class="item-title-1">phương pháp đào tạo chuẩn <br> quốc tế 1 kèm 1</div>
      </div>
      <div class="item-commit">
        <div class="item-icon">img</div>
        <div class="item-title-1">ĐẢM BẢO <br>  VỮNG TAY NGHỀ </div>
      </div>
      <div class="item-commit">
        <div class="item-icon">img</div>
        <div class="item-title-1">CHỨNG CHỈ NGHỀ<br>  CÓ GIÁ TRỊ TOÀN QUỐC</div>
      </div>
      <div class="item-commit">
        <div class="item-icon">img</div>
        <div class="item-title-1">HỖ TRỢ TƯ <br> VẤN SAU KHI HẾT KHÓA HỌC</div>
      </div>
      <div class="item-commit">
        <div class="item-icon">img</div>
        <div class="item-title-1">HỖ TRỢ VIỆC LÀM <br> NGAY SAU KHI TỐT NGHIỆP</div>
      </div>
      <div class="item-commit">
        <div class="item-icon">img</div>
        <div class="item-title-1">90% THỰC HÀNH 10% LÝ THUYẾT<br>  TRÊN MẪU THẬT MIỄN PHÍ</div>
      </div>

    </div>
  </div>

  <div class="lecturer-wrapper">
    <div class="specializ-top">
      <p class="specializ-title">Đội Ngũ giảng viên</p>
    </div>
    <div id="carouselExampleIndicatorss" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators !bottom-0">
        <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="0"
          class="active !w-2 !h-2 " style="border-radius: 50% !important; " aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="1" class="!w-2 !h-2 "
          style="border-radius: 50% !important; " aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="2" class="!w-2 !h-2 "
          style="border-radius: 50% !important; " aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <div class="lecturer-gallery pb-10 lg:mx-10  ">
            <div class="item-lecturer">
              <div class="lecturer-img">img</div>
              <div class="lecturer-info">
                <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                <div class="flex lg:block lg:pt-0 pt-2 justify-center items-center">
                  <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block"> Kiều Oanh</p>
                  <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị da</span>
                </div>

                <ul>
                  <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                  <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng
                    lớp</li>
                </ul>
              </div>
            </div>
            <div class="hidden lg:block">
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                  <span class="lecturer-title">Giảng viên</span>
                  <p class="lecturer-name">Tiền Ngọc <br> Hoàng Anh</p>
                  <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                  <ul>
                    <li>10 năm kinh nghiệm trong ngành chăm sóc điều trị da</li>
                    <li>Chứng chỉ nghiệp vụ sư phạm</li>
                    <li>Cố vấn chuyên môn tại hệ thống viện thẩm mỹ Quốc tế</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="hidden lg:block">
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                  <span class="lecturer-title">Giảng viên</span>
                  <p class="lecturer-name">NGUYỄN THỊ <br> THÚY HẰNG</p>
                  <span class="lecturer-specializ">Phó bộ môn chăm sóc và điều trị da</span>
                  <ul>
                    <li>12 năm kinh nghiệm làm việc và giảng dạy bộ môn chăm sóc, điều trị da</li>
                    <li>Chứng chỉ nghiệp vụ sư phạm</li>
                    <li>Từng đảm nhiệm vị trí trưởng bộ phận tại các thẩm mỹ viện uy tín Tp. HCM</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="hidden lg:block">
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                  <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                  <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                  <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                  <ul>
                    <li>09 năm kinh nghiệm làm việc và giảng dạy bộ môn chăm sóc, điều trị da</li>
                    <li>Chứng chỉ nghiệp vụ sư phạm</li>
                    <li>Từng đảm nhiệm vị trí trưởng phòng/ bộ phận tại các thẩm mỹ viện uy tín hàng đầu</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="carousel-item">
          <div class="lecturer-gallery pb-10 lg:mx-10 ">
            <div class="item-lecturer">
              <div class="lecturer-img">img</div>
              <div class="lecturer-info">
                <span class="lecturer-title">Giám đốc học viện Timona Acdemy2</span>
                <div class="flex lg:block lg:pt-0 pt-2 justify-center items-center">
                  <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block"> Kiều Oanh</p>
                  <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị da</span>
                </div>

                <ul>
                  <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                  <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng
                    lớp</li>
                </ul>
              </div>
            </div>
            <div class="hidden lg:block">
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                  <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                  <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                  <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                  <ul>
                    <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                    <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="hidden lg:block">
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                  <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                  <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                  <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                  <ul>
                    <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                    <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="hidden lg:block">
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                  <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                  <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                  <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                  <ul>
                    <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                    <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="lecturer-gallery pb-10 lg:mx-10">
            <div class="item-lecturer">
              <div class="lecturer-img">img</div>
              <div class="lecturer-info">
                <span class="lecturer-title">Giám đốc học viện Timona Acdemy3</span>
                <div class="flex lg:block lg:pt-0 pt-2 justify-center items-center">
                  <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block"> Kiều Oanh</p>
                  <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị da</span>
                </div>

                <ul>
                  <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                  <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng
                    lớp</li>
                </ul>
              </div>
            </div>
            <div class="hidden lg:block">
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                  <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                  <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                  <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                  <ul>
                    <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                    <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="hidden lg:block">
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                  <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                  <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                  <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                  <ul>
                    <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                    <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="hidden lg:block">
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                  <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                  <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                  <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                  <ul>
                    <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                    <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>

    </div>


  </div>


</div>