<section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8">
  <div class="lg:pt-10 w-full h-1/2 flex flex-col lg:flex-row ">
    <div class="flex-1 bg-gray-200 lg:mr-4 ">
      <div style="width:200px; height:400px"></div>
    </div>
    <div class="flex-1 right new hidden lg:block">
      <h2 class="uppercase lg:pl-2 mb-2 relative text-indigo-900 lg:text-left   pt:10 text-xl ">Tin tức - sự
        kiện
        <div class="absolute h-full w-0.5 bg-indigo-900 top-0 left-0"> </div>
      </h2>
      <div class="pt-4 flex justify-start new-item">
        <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
          <div class="banner-img"></div>
        </div>
        <div class="flex flex-col new-info">
          <p class="text-base text-indigo-900 font-black new-title">Tinoma Academy được vinh danh thương hiệu tiêu
            biểu Châu Á thái bình dương</p>
          <span class="pb-2 text-sm text-indigo-900 new-des">Với sự đầu tư nghiêm túc về chất lượng đào tạo, Timona
            Academy vinh dự nhận được giải thưởng “Thương hiệu tiêu biểu châu Á - Thái Bình Dương 2021”.
          </span>
          <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu thêm >></a>

        </div>
      </div>

      <div class="hidden lg:block">
        <div class="pt-4 flex justify-start new-item">
          <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
            <div class="banner-img"></div>
          </div>
          <div class="flex flex-col new-info">
            <p class="text-base text-indigo-900 font-black new-title">Timona Academy khai trương trụ sở đào tạo thẩm mỹ quốc tế</p>
            <span class="pb-2 text-sm text-indigo-900 new-des">Ngày 20/11, Timona Academy khai trương trụ sở tại Bình Thạnh, Tp. HCM. Đánh dấu bước chuyển mình quan trọng trong việc khẳng định thương hiệu – Học viện đào tạo thẩm mỹ chuẩn quốc tế tại Việt Nam.
            </span>
            <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu thêm >></a>
  
          </div>
        </div>
      </div>

      <div class="hidden lg:block">
        <div class="pt-4 flex justify-start new-item">
          <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
            <div class="banner-img"></div>
          </div>
          <div class="flex flex-col new-info">
            <p class="text-base text-indigo-900 font-black new-title">Timona Academy tổ chức sân chơi cho những học viên phun xăm thẩm mỹ chuyên nghiệp</p>
            <span class="pb-2 text-sm text-indigo-900 new-des">Sáng 29/12, đã diễn ra chương trình Asia International Beauty Award 2020 do Học viện Thẩm mỹ Quốc tế Timona Academy tổ chức, quy tụ hơn 30 thí sinh thực lực, cùng hệ thống giải thưởng, quà tặng lên đến 100 triệu đồng.
            </span>
            <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu thêm >></a>
  
          </div>
        </div>
      </div>


    </div>
  </div>
</section>