<div class="lg:px-14 lg:pt-10">
    <div class="lg:p-6 container bg-indigo-900 lg:rounded-3xl">
        <div class="">
            <p class="lg:text-5xl text-2xl uppercase text-center text-white">Đội ngũ giảng viên</p>
            <p class=" text-white ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, corporis? Quis
                minus maxime ipsam in sit sunt magni recusandae veniam nemo iusto, natus rem voluptate perspiciatis
                labore excepturi eveniet ab! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, ad
                nostrum eveniet magni dignissimos quae dolorum rem corporis nulla cupiditate eaque laborum deleniti quas
                sequi, odit magnam officia voluptates eius!</p>
        </div>
        <div class=" flex items-center justify-center">
            <div class="bg-gray-100 banner-img" ></div>
        </div>
        <div class="flex justify-between py-5 relative">
            <div class="">
                <p class="text-white text-base text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur,
                    deleniti
                    aperiam a est distinctio repellat similique non, placeat minima nisi explicabo doloremque odio qui
                    natus nobis enim nostrum earum.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum iusto aspernatur reiciendis
                    error amet delectus quaerat, repellendus sunt deserunt ut aperiam et consectetur in illo est hic.
                    Provident, saepe odit!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur,
                    deleniti
                    aperiam a est distinctio repellat similique non, placeat minima nisi explicabo doloremque odio qui
                    natus nobis enim nostrum earum.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum iusto aspernatur reiciendis
                    error amet delectus quaerat, repellendus sunt deserunt ut aperiam et consectetur in illo est hic.
                    Provident, saepe odit!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur,
                    deleniti
                    aperiam a est distinctio repellat similique non, placeat minima nisi explicabo doloremque odio qui
                    natus nobis enim nostrum earum.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum iusto aspernatur reiciendis
                    error amet delectus quaerat, repellendus sunt deserunt ut aperiam et consectetur in illo est hic.
                    Provident, saepe odit!
                </p>
            </div>
            
            <div class="absolute bg-white bottom-0 w-full " style="height: 1px;"></div>
        </div>

        <div class="pt-10">
            <div class="flex justify-center items-center">
                <div class="item-lecturer mb-5 lg:mb-0">
                    <div class="lecturer-img">img</div>
                    <div class="lecturer-info">
                        <span class="lecturer-title">Giám đốc học viện Timona Acdemy1</span>
                        <div class="flex lg:block flex-col lg:flex-row lg:pt-0 pt-2 lg:justify-center lg:items-center">
                            <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br> Kiều
                                Oanh</p>
                            <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị
                                da</span>
                        </div>

                        <ul>
                            <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                            <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước
                                ngoài đứng
                                lớp</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="flex justify-between flex-col lg:flex-row pb-1 lg:py-5">
                    <div class="item-lecturer mb-5 lg:mb-0">
                        <div class="lecturer-img">img</div>
                        <div class="lecturer-info">
                            <span class="lecturer-title">Giám đốc học viện Timona Acdemy1</span>
                            <div class="flex lg:block  flex-col lg:flex-row lg:pt-0 pt-2 lg:justify-center lg:items-center">
                                <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block">
                                    Kiều
                                    Oanh</p>
                                <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị
                                    da</span>
                            </div>

                            <ul>
                                <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                                <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia
                                    nước
                                    ngoài đứng
                                    lớp</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-lecturer mb-5 lg:mb-0">
                        <div class="lecturer-img">img</div>
                        <div class="lecturer-info">
                            <span class="lecturer-title">Giám đốc học viện Timona Acdemy1</span>
                            <div class="flex lg:block  flex-col lg:flex-row lg:pt-0 pt-2 lg:justify-center lg:items-center">
                                <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block">
                                    Kiều
                                    Oanh</p>
                                <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị
                                    da</span>
                            </div>

                            <ul>
                                <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                                <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia
                                    nước
                                    ngoài đứng
                                    lớp</li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="">
                <div class="flex justify-between flex-col lg:flex-row pb-1 lg:py-5">
                    <div class="item-lecturer mb-5 lg:mb-0">
                        <div class="lecturer-img">img</div>
                        <div class="lecturer-info">
                            <span class="lecturer-title">Giám đốc học viện Timona Acdemy1</span>
                            <div class="flex lg:block  flex-col lg:flex-row lg:pt-0 pt-2 lg:justify-center lg:items-center">
                                <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block">
                                    Kiều
                                    Oanh</p>
                                <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị
                                    da</span>
                            </div>

                            <ul>
                                <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                                <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia
                                    nước
                                    ngoài đứng
                                    lớp</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-lecturer mb-5 lg:mb-0">
                        <div class="lecturer-img">img</div>
                        <div class="lecturer-info">
                            <span class="lecturer-title">Giám đốc học viện Timona Acdemy1</span>
                            <div class="flex lg:block  flex-col lg:flex-row lg:pt-0 pt-2 lg:justify-center lg:items-center">
                                <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block">
                                    Kiều
                                    Oanh</p>
                                <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị
                                    da</span>
                            </div>

                            <ul>
                                <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                                <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia
                                    nước
                                    ngoài đứng
                                    lớp</li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="">
                <div class="flex justify-between flex-col lg:flex-row pb-1 lg:py-5">
                    <div class="item-lecturer mb-5 lg:mb-0">
                        <div class="lecturer-img">img</div>
                        <div class="lecturer-info">
                            <span class="lecturer-title">Giám đốc học viện Timona Acdemy1</span>
                            <div class="flex lg:block  flex-col lg:flex-row lg:pt-0 pt-2 lg:justify-center lg:items-center">
                                <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block">
                                    Kiều
                                    Oanh</p>
                                <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị
                                    da</span>
                            </div>

                            <ul>
                                <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                                <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia
                                    nước
                                    ngoài đứng
                                    lớp</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-lecturer mb-5 lg:mb-0">
                        <div class="lecturer-img">img</div>
                        <div class="lecturer-info">
                            <span class="lecturer-title">Giám đốc học viện Timona Acdemy1</span>
                            <div class="flex lg:block  flex-col lg:flex-row lg:pt-0 pt-2 lg:justify-center lg:items-center">
                                <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block">
                                    Kiều
                                    Oanh</p>
                                <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị
                                    da</span>
                            </div>

                            <ul>
                                <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                                <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia
                                    nước
                                    ngoài đứng
                                    lớp</li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="">
                <p class="text-white text-center italic">
                    &quot; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nemo ratione esse, nisi magnam
                    odio itaque. Rem, laborum labore. Beatae maiores, soluta ab at iusto officia architecto voluptatum
                    deserunt? Sint?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, tempora porro, recusandae vitae provident quia dolor at quo cum magnam assumenda consequatur voluptatibus aperiam a nulla molestias velit aliquid eos.
                    &quot;
                </p>
            </div>
        </div>
    </div>

</div>