<section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8">

    <div class="lg:pt-10 w-full h-1/2 flex flex-col  ">
        <div class="pb-5">
            <div class="text-base text-indigo-900">Home >> Tin Tức & Sự Kiện</div>
        </div>


        <div class="text-2xl text-indigo-900 font-black pb-3">Tin Nổi Bật</div>
        <div class="flex">
            <div class="flex-1 bg-gray-200 lg:mr-4 ">
                <div style="width:200px; height:400px"></div>
            </div>
            <div class="flex-1 flex flex-col justify-between">
                <p class="uppercase text-3xl lg:pl-2 mb-2 relative text-indigo-900 lg:text-left   pt:10 text-xl ">
                    4 sai lầm cho việc kinh doanh spa thât bại
                </p>
                <div class="text-indigo-900 new-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam
                    nam
                    molestias labore, quia blanditiis deserunt possimus recusandae odit, tempore ea doloremque minima
                    repellat ipsa eum. Quod dicta ipsum corrupti!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo officiis eligendi enim ex cum omnis
                    eveniet. Atque soluta est, neque voluptates explicabo illo, possimus alias modi, maiores dolores
                    totam
                    vel!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam nam
                    molestias labore, quia blanditiis deserunt possimus recusandae odit, tempore ea doloremque minima
                    repellat ipsa eum. Quod dicta ipsum corrupti!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo officiis eligendi enim ex cum omnis
                    eveniet. Atque soluta est, neque voluptates explicabo illo, possimus alias modi, maiores dolores
                    totam
                    vel!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam nam
                    molestias labore, quia blanditiis deserunt possimus recusandae odit, tempore ea doloremque minima
                    repellat ipsa eum. Quod dicta ipsum corrupti!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo officiis eligendi enim ex cum omnis
                    eveniet. Atque soluta est, neque voluptates explicabo illo, possimus alias modi, maiores dolores
                    totam
                    vel!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam nam
                    molestias labore, quia blanditiis deserunt possimus recusandae odit, tempore ea doloremque minima
                    repellat ipsa eum. Quod dicta ipsum corrupti!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo officiis eligendi enim ex cum omnis
                    eveniet. Atque soluta est, neque voluptates explicabo illo, possimus alias modi, maiores dolores
                    totam
                    vel!
                </div>

                <p class="text-indigo-900 !mb-0 pt-3 font-medium"> Xem thêm >></p>
            </div>
        </div>


        <div class="pt-5 pb-5">
            <div class="grid grid-cols-2 gap-4">
                <div class="pt-4 flex justify-start new-item cursor-pointer">
                    <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
                        <div class="banner-img"></div>
                    </div>
                    <div class="flex flex-col new-info">
                        <p class="text-base text-indigo-900 font-black uppercase">bạn đã biết lợi ích thần kỳ của việc massage chưa</p>
                        <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.
                            Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                            beatae
                            corrupti</span>
                        <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu
                            thêm >></a>

                    </div>
                </div>

                <div class="pt-4 flex justify-start new-item cursor-pointer">
                    <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
                        <div class="banner-img"></div>
                    </div>
                    <div class="flex flex-col new-info">
                        <p class="text-base text-indigo-900 font-black uppercase">bạn đã biết lợi ích thần kỳ của việc massage chưa</p>
                        <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.
                            Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                            beatae
                            corrupti</span>
                        <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu
                            thêm >></a>

                    </div>
                </div>

                
                <div class="pt-4 flex justify-start new-item cursor-pointer">
                    <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
                        <div class="banner-img"></div>
                    </div>
                    <div class="flex flex-col new-info">
                        <p class="text-base text-indigo-900 font-black uppercase">bạn đã biết lợi ích thần kỳ của việc massage chưa</p>
                        <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.
                            Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                            beatae
                            corrupti</span>
                        <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu
                            thêm >></a>

                    </div>
                </div>

                <div class="pt-4 flex justify-start new-item cursor-pointer">
                    <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
                        <div class="banner-img"></div>
                    </div>
                    <div class="flex flex-col new-info">
                        <p class="text-base text-indigo-900 font-black uppercase">bạn đã biết lợi ích thần kỳ của việc massage chưa</p>
                        <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.
                            Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                            beatae
                            corrupti</span>
                        <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu
                            thêm >></a>

                    </div>
                </div>

                <div class="pt-4 flex justify-start new-item cursor-pointer">
                    <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
                        <div class="banner-img"></div>
                    </div>
                    <div class="flex flex-col new-info">
                        <p class="text-base text-indigo-900 font-black uppercase">bạn đã biết lợi ích thần kỳ của việc massage chưa</p>
                        <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.
                            Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                            beatae
                            corrupti</span>
                        <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu
                            thêm >></a>

                    </div>
                </div>

                <div class="pt-4 flex justify-start new-item cursor-pointer">
                    <div class="lg:w-1/2 w-full bg-gray-200 pr-4 mr-4">
                        <div class="banner-img"></div>
                    </div>
                    <div class="flex flex-col new-info">
                        <p class="text-base text-indigo-900 font-black uppercase">bạn đã biết lợi ích thần kỳ của việc massage chưa</p>
                        <span class="pb-2 text-sm text-indigo-900 new-des">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.
                            Maiores temporibus unde tempora voluptatem nisi reprehenderit deleniti delectus aliquid
                            beatae
                            corrupti</span>
                        <a href="#" class="text-indigo-900  lg:bg-white  text-base top-3  font-black new-link">Tìm hiểu
                            thêm >></a>

                    </div>
                </div>

            </div>
        </div>

        <div class=" flex justify-center items-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item ">
                    <a class="page-link border-none text-indigo-900 font-black" href="#" aria-label="Previous">
                      <span aria-hidden="true"><</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link border-none text-indigo-900 font-black" href="#">1</a></li>
                  <li class="page-item"><a class="page-link border-none text-indigo-900 font-black" href="#">2</a></li>
                  <li class="page-item"><a class="page-link border-none text-indigo-900 font-black" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link border-none text-indigo-900 font-black" href="#" aria-label="Next">
                      <span aria-hidden="true">></span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</section>