<section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8">

    <div class="lg:pt-10 w-full h-1/2 flex flex-col  hidden lg:block">
        <div class="pb-5">
            <div class="text-base text-indigo-900">Home >> Liên Hệ</div>
        </div>
    </div>

    <div class="">
        <div class="w-full bg-gray-100 relative" style="height: 300px;">
            <div
                class="absolute text-indigo-900 font-black text-5xl uppercase left-1/2 top-1/2 contact-center hidden lg:block">
                Thông
                tin<br> liên hệ</div>
        </div>
    </div>

    <div class="lg:py-10">
        <div class="width-80 pt-6 px-6 lg:bg-indigo-900 rounded-3xl">
            <div class="lg:bg-indigo-900 flex justify-between">
                <div class="lg:pr-10" style="flex: 2;">
                    <p class="lg:text-5xl text-xl text-indigo-900 lg:text-yellow-500 uppercase font-black">vui lòng để
                        lại thông tin <br class="lg:block hidden"> để được tư
                        vấn</p>

                    <form class="form-submit relative lg:pb-10 pb-5">
                        <div class="flex">
                            <input type="text" id="username-success"
                                class="bg-green-50 border w-3/4 border-none text-black-900 placeholder-black-700 lg:text-sm text-xs rounded-lg focus:ring-black-500 mr-3 mt-1 focus:border-black-500 block p-1  lg:p-1.5 dark:bg-black-100 dark:border-black-400"
                                placeholder="HỌ TÊN">
                            <input type="text" id="username-success"
                                class="bg-green-50 border w-1/2 border-none text-black-900 placeholder-black-700 lg:text-sm text-xs rounded-lg focus:ring-black-500 mr-3 mt-1 focus:border-black-500 block p-1  lg:p-1.5 dark:bg-black-100 dark:border-black-400"
                                placeholder="SỐ ĐIỆN THOẠI">

                        </div>
                        <div class="flex py-4 md:justify-between">
                            <div class="flex flex-col lg:flex-wrap lg:flex-row">
                                <div class="form-check flex  items-center lg:mr-5 mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label
                                        class="form-check-label lg:ml-5 ml-2 lg:text-sm  text-xs lg:text-white text-indigo-900 text-base "
                                        for="flexCheckDefault">
                                        Kỹ Thuật Viên SPA chuyên nghiệp
                                    </label>
                                </div>
                                <div class="form-check flex  items-center lg:mr-5 mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label
                                        class="form-check-label lg:ml-5 ml-2 lg:text-sm  text-xs lg:text-white text-indigo-900 text-base "
                                        for="flexCheckDefault">
                                        Kỹ Thuật Viên SPA chuyên nghiệp
                                    </label>
                                </div>
                                <div class="form-check flex  items-center lg:mr-5 mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label
                                        class="form-check-label lg:ml-5 ml-2 lg:text-sm  text-xs lg:text-white text-indigo-900 text-base "
                                        for="flexCheckDefault">
                                        Kỹ Thuật Viên SPA chuyên nghiệp
                                    </label>
                                </div>
                                <div class="form-check flex  items-center lg:mr-5 mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label
                                        class="form-check-label lg:ml-5 ml-2 lg:text-sm  text-xs lg:text-white text-indigo-900 text-base "
                                        for="flexCheckDefault">
                                        Kỹ Thuật Viên SPA chuyên nghiệp
                                    </label>
                                </div>
                                <div class="form-check flex  items-center lg:mr-5 mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label
                                        class="form-check-label lg:ml-5 ml-2 lg:text-sm  text-xs lg:text-white text-indigo-900 text-base "
                                        for="flexCheckDefault">
                                        Kỹ Thuật Viên SPA chuyên nghiệp
                                    </label>
                                </div>
                                <div class="form-check flex  items-center lg:mr-5 mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label
                                        class="form-check-label lg:ml-5 ml-2 lg:text-sm  text-xs lg:text-white text-indigo-900 text-base "
                                        for="flexCheckDefault">
                                        Kỹ Thuật Viên SPA chuyên nghiệp
                                    </label>
                                </div>

                            </div>
                            <div class="bg-gray-100 lg:hidden contact-img" >
                                <div></div>
                            </div>

                        </div>

                        <div class="form-group">

                            <textarea class="form-control textarea-form font-black text-gray-100 rounded-xl lg:text-sm text-xs "
                                id="exampleFormControlTextarea1" placeholder="NHẬP NỘI DUNG CẦN TƯ VẤN"
                                rows="3"></textarea>
                        </div>
                        <button>Đăng ký</button>

                    </form>
                </div>



                <div class="hidden lg:block">
                    <div class="bg-gray-100 " style="height: 500px; width: 400px;"></div>
                </div>
            </div>
        </div>

    </div>
</section>